*{
    margin:0px;
    padding:0px;
}


button{
    border: none; 
    border-radius: 50px; 
    width: 40px; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tray{
    min-height: 600px;
    min-width: 800px;
    width:80%;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    box-shadow:10px 5px 10px rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* this is module's message box */
.module{
    background-color: aquamarine;
    width: 95%;
    border-radius: 5px;
    min-height: 150px;
    margin: 10px;
    display: grid;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns:33.3% 33.3% 33.3%;
    position: relative;
}

#primaryModule{
    display: none;
}

/*Timer-tray css*/
.timer-tray{
    background-color: bisque;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-column: 2/3;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: grid;
    grid-template-columns:20% 5% 20% 5% 25% 25%;
    text-align: center;
    overflow: hidden;
}
.timer-tray:hover{
    transform: scale(1.05);
}

.timer-input{
    height: 80%;
    text-align: center;
    display:none;
    border:none;
    border-radius: 3px;
    outline: none;
}  

.timer{
    justify-self: center;
    align-self: center;
}

.play-pause{
    background-color: brown;
    width: 95%;
    height: 95%;
    border-radius:20px;
    align-self: center;
    justify-self: center;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play{
    display:none !important;
}



/*Message related tags*/
.heading-input{
    display:none;
    background-color: rgb(219, 218, 217, 0);
    border:none;
    padding:5px;
    height:100%;
    width:100%;
    position: absolute;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
    outline:none;
}

.heading{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding:5px;
}

.message{
    background-color: rgb(255, 255, 255, 0.4);
    margin:auto;
    width: 98%;
    height: 55px;
    display: inline-block;
    grid-row:  3 / 3 ;
    grid-column: 1 / 4;
    border-radius: 5px;
    border:none;
    padding: 5px;
    resize: none;
    outline: none;
}

.three-dots{
    justify-self: end;
    height:35px;
    width:35px;
    margin-top:2px;
    margin-right:2px;
}


/*dialog box settings*/

.dialog-box{
    background-color: rgb(216, 216, 216);
    width:100px;
    position: absolute;
    top:40px;
    right:10px;
    border:none;
    border-radius: 5px;   
    padding:2px;
}

.dialog-box[open] {
    display: grid;
    justify-items: center;
    grid-column: 3 / 3;
    justify-self: end;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.dialog-box button{
    width:90px; 
    height: 30px;
    margin:2px;
}


.dialog-box .delete-btn{
    grid-row:2/3;
}
